// color
$white: #fff;
$black: #333;
$safeText: #666;
$gray: #999;
$grayFont: #A9B0B4;
$green: #ccc;
$blue: #11a9e8;
$red: #ff4f0b;
$border: #DCDFE6;
$grayBg: #f3f5f7;

// font-size
$default-font-size: 14px;
$min-font-size: 12px;
$mid-font-size: 16px;
$max-font-size: 18px;
$bid-font-size: 24px;
